.main {
  display: flex;
  flex: 1;
  width: 100%;
  min-height: 0;
}

app-sidebar {
  display: flex;
}

.ci {
  display: flex;
  flex-direction: column;
  flex: 1;
}

app-footer {
  display: block;
}

app-hero-banner {
  display: block;
}

app-card-product {
  display: flex;
  flex: 1;
}

@media (max-width: 850px) {
  .main {
    flex-direction: column;
  }
}
